{% extends "base.html" %}
{% load admin_urls %}

{% block title %}{% if request.GET.author %}({{ object_list|length }}) {{ request.GET.author }}{% else %}Показать сообщения пользователя в теме{% endif %}{% endblock title %}

{% block content %}
    <header class="masthead">
        <div class="jumbotron p-3 mb-3">
            {% if request.GET.author %}
                <div class="bd-clipboard float-right position-relative ml-3">
                    <span class="badge badge-light">{{ request.GET.author }} - {{ object_list|length }}</span>
                </div>
            {% endif %}
            <form class="form-inline">
                <div class="form-group mx-sm-3">
                    <label for="author" class="sr-only">Username</label>
                    <input type="text" class="form-control" id="author" placeholder="Username" name="author">
                </div>
                <button type="submit" class="btn btn-primary">Показать сообщения</button>
            </form>
        </div>
    </header>

    <main role="main">
        {#                {% include "posts/paginator.html" %}#}

        {% for object in object_list %}
            <div class="jumbotron p-3 mb-3{% cycle '' ' bg-light' %}">
                <div class="bd-clipboard float-right position-relative ml-3">
                    <a class="badge badge-primary"
                       href="https://www.turpravda.ua/forums/discussion/comment/{{ object.post_id }}/#Comment_{{ object.post_id }}"
                       role="button">{{ object.date|date }}</a>
                </div>
                {{ object.body|safe }}
            </div>
        {% endfor %}
    </main>

    {#            {% include "posts/paginator.html" %}#}
{% endblock content %}
