{% extends "base.html" %}
{% load admin_urls %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}
    <header class="masthead">
        <ol class="breadcrumb">
            {% for i in object.get_ancestors %}
                <li class="breadcrumb-item"><a href="{{ i.get_absolute_url }}">{{ i.button_name }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active">{{ object.button_name }}</li>
        </ol>
    </header>

    <main role="main">

        <!-- Jumbotron -->
        <div class="jumbotron p-3 mb-3">
            {% if user.is_authenticated and user.is_staff %}
            <div class="bd-clipboard float-right position-relative">
                <a class="badge badge-light" href="{% url "admin:qa_question_change" object.id %}" role="button">Редактировать</a>
            </div>
            {% endif %}
            <h3>{% if object.id_development %}<span class="badge badge-danger">В разработке</span> {% endif %}{{ object.name }}</h3>
            {{ object.content|safe }}
        </div>

        <!-- Example row of columns -->
        <div class="row">
            {% for i in object.children.all %}
                <div class="col-12 col-lg-6 col-sm-12">
                    <p><a class="btn btn-info btn-block" href="{{ i.get_absolute_url }}" role="button">{{ i.button_name }}</a></p>
                </div>
            {% endfor %}
            {% for i in object.related.all %}
                <div class="col-12 col-lg-6 col-sm-12">
                    <p><a class="btn btn-info btn-block" href="{{ i.get_absolute_url }}" role="button">{{ i.button_name }}</a></p>
                </div>
            {% endfor %}
            {% if object.parent %}
                <div class="col-12 col-lg-6 col-sm-12">
                    <p><a class="btn btn-primary btn-block" href="{{ object.parent.get_absolute_url }}" role="button">Перейти на уровень выше</a></p>
                </div>
            {% endif %}
        </div>

    </main>
{% endblock content %}