{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% endblock css %}
    {% block extra_css %}
    {% endblock extra_css %}
</head>

<body>
    {% block nav %} {% endblock nav %}

    <div class="container">
        {% block content %}
        {% endblock content %}

        <footer class="container">
            <nav class="nav">
                <a class="nav-link pt-1 pb-1" href="{% url "qa:questionmap" %}">Карта FAQ</a>
                <a class="nav-link pt-1 pb-1"
                   href="https://www.turpravda.ua/forums/discussion/189482/zaderzhka_vydachi_zagranpasporta">Форум
                    Турправда</a>
                <a class="nav-link pt-1 pb-1" href="https://www.facebook.com/groups/passportUA/">Группа "Паспорт-2017"</a>
                <a class="nav-link pt-1 pb-1" href="https://dmsu.gov.ua">Сайт ДМСУ</a>
                <a class="nav-link pt-1 pb-1" href="https://pk-ukraina.gov.ua">Сайт полиграфкомбината</a>
                <a class="nav-link pt-1 pb-1" href="https://www.facebook.com/STOPsvavilly/">СТОП свавіллю в паспортних столах</a>
            </nav>
        </footer>

    </div>

    {% block js %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock js %}
    {% block extra_js %}
    {% endblock extra_js %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48038077-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-48038077-2');
    </script>

</body>

</html>
