{% extends "base.html" %}
{% load mptt_tags indent %}

{% block title %}Карта этого FAQ{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Карта этого FAQ</h3>
            <nav class="nav flex-column">
                {% recursetree root %}
                    <a class="nav-link pt-1 pb-1" href="{{ node.get_absolute_url }}">
                        {% indent node.level %}{{ node.button_name }}
                    {% if node.id_development %}<span class="badge badge-danger">В разработке</span> {% endif %}
                    </a>
                    {% if not node.is_leaf_node %}{{ children }}{% endif %}
                    {% if user.is_authenticated and user.is_staff %}
                        {% for i in node.related.all %}
                            <a class="nav-link pt-1 pb-1" href="{{ i.get_absolute_url }}">
                                {% indent 1 %}{% indent node.level %}{{ i.button_name }}
                            <span class="badge badge-light">Связанная ссылка</span>
                            {% if i.id_development %}<span class="badge badge-danger">В разработке</span> {% endif %}
                            </a>
                        {% endfor %}
                    {% endif %}
                {% endrecursetree %}
            </nav>
        </div>
    </div>

{% endblock content %}